@model IEnumerable<Instrument_Store.Infrastructure.Model.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Order Overview</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Product Order Id</p>
            </th>
            <th>
                <p>Date</p>
            </th>
            <th>
                <p>Quantity</p>
            </th>
            <th>
                <p>Total Price</p>
            </th>
            <th>
                <p>Customer</p>
            </th>
            <th>
                <p>Store</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductOrdersId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.City)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
